/*HERO*/

#hero-catalogo{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 8% 0;
    background: #faf6f9;
    overflow: hidden;
}

.catalogo-texts{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.catalogo-texts h2{
    font-family: 'Tangerine', cursive;
    font-size: 130px;
    margin-bottom: 30px;
    color: rgb(255, 138, 173);
   
}

.catalogo-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 35px;
}

.btn-hero{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 40px;
    background: #ff77a7;
    color: white;
    font-family: 'Poppins';
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.btn-hero:hover{
    background: #f05d96;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(238, 141, 178, 0.849);
}

.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    width: 600px;
    filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.432));
    animation: float 4s ease-in-out infinite;

}


.circle{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(230, 146, 168, 0.66);
    filter: blur(50px);
}

.small-circle.four{
    width: 120px;
    height: 120px;

    top: 15%;
    left: 10%;
}

.small-circle.five{
    width: 100px;
    height: 100px;

    bottom: 18%;
    left: 45%;
}

.small-circle.six{
    width: 500px;
    height: 500px;

    top: 15%;
    right: 5%;
    
}


/*------------------------
      CATALOGO
-------------------------*/

#catalogo{
   padding: 0;
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position:relative;
   background: #faf6f9;
}

.filtro-catalogo{
    justify-content: space-between;
    width: 100%;
  
}

.categorias-catalogo{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    font-family: 'Poppins';
    
}

.categorias-catalogo button{
    border-radius: 10px;
    border-style: none;
    height: 60px;
    width: 60px;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 200;
    box-shadow: 0 2px 15px rgba(110, 107, 107, 0.5);
  
}

.categorias-catalogo button:hover{
    transform: scale(1.08);
    transition: 0.5s;
    cursor: pointer;
  
}

.categoria-item span{
    font-size: 15px;
    padding: 10px;
    font-family: 'Poppins';
    color: rgb(149, 149, 149) ;
}

.categoria-item i{
    font-size: 30px;
    color: #ff79ac;
}

.catalogo-title{
    padding: 30px 80px;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Tangerine';
    color: #94898d;
}

.categorias-catalogo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*-----------------
    ANIMAÇÕES
----------------*/
@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}


/*RESPONSIVIDADE*/

/* =====================================================
   TABLETS
===================================================== */

@media (max-width:1024px){

   #hero-catalogo{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 30px;
    min-height: calc(100vh - 70px);
    z-index: 2;
}

    .catalogo-texts{
    position: relative;
    z-index: 2;
    max-width: 700px;


}

    .catalogo-texts h2{
        font-size:100px;
        margin-bottom:20px;
    }

    .catalogo-texts p{
        width:70%;
        font-size:24px;
    }

    .btn-hero{
        width:300px;
        height:75px;
        font-size:30px;
    }

    .imagem{

    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:1;

}

    .imagem img{

    position:absolute;
    left:50%;
    transform:translateY(-50%);
    width:100%;
    filter:blur(2px);
    opacity: 0.8!important;
    }

    .small-circle.six{
        width:350px;
        height:350px;
    }

    .categorias-catalogo{
        gap:45px;
        margin-top:150px;
    }
    .categorias-catalogo i{
        font-size: 50px;
    }

    .categorias-catalogo button{
        width: 100px;
        height: 100px;
    }

    .catalogo-title{
        padding:30px 40px;
        font-size:42px;
    }
}


/*   CELULARES */

@media (max-width:768px) {

     #hero-catalogo{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    min-height: calc(100vh - 70px);
    z-index: 2;
}

.filtro-catalogo{
    display: flex;
    justify-content: center;
    width: 100%;
  
}

    .catalogo-texts{
    position: relative;
    z-index: 2;
    max-width: 100%;


}

    .catalogo-texts h2{
        font-size:60px;
        margin-bottom:20px;
    }

    .catalogo-texts p{
        width:80%;
        font-size:15px;
    }

    .btn-hero{
        width:150px;
        height:45px;
        font-size:15px;
    }

    .imagem{

    position:absolute;
    inset:0;
    pointer-events:none;
    z-index:1;

}

    .imagem img{

    position:absolute;
    left:30%;
    transform:translateY(-50%);
    width:500px;
    filter:blur(3px);
    opacity: 0.5!important;
    }

    .small-circle.six{
        width:350px;
        height:350px;
    }

    .categorias-catalogo{

        margin-top:80px;
    }
    .categorias-catalogo i{
        font-size: 30px;
    }

    .categorias-catalogo button{
        width: 50px;
        height: 50px;
    }

     .categorias-catalogo span{
        font-size: 13px;
        letter-spacing: -1px;
        font-weight: 300;
     }

    .catalogo-title{
        padding:40px 20px;
        font-size:42px;

    }
}
