/*HERO*/

#hero-catalogo{
    min-height: calc(100vh -70px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 40px 8% 0;
    background: #faf9f6;
    overflow: hidden;
}

.catalogo-texts{
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.catalogo-texts h2{
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    line-height: .8;
    margin-bottom: 30px;
    color: rgb(255, 138, 173);
   
}

.catalogo-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 35px;
}

.btn-hero{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 55px;
    border: none;
    border-radius: 40px;
    background: #ff77a7;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.btn-hero:hover{
    background: #f05d96;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(238, 141, 178, 0.849);
}

.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    width: 480px;
    filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.432));
    animation: float 4s ease-in-out infinite;

}


.circle{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(230, 146, 168, 0.66);
    filter: blur(50px);
}

.small-circle.four{
    width: 120px;
    height: 120px;

    top: 15%;
    left: 10%;
}

.small-circle.five{
    width: 100px;
    height: 100px;

    bottom: 18%;
    left: 45%;
}

.small-circle.six{
    width: 500px;
    height: 500px;

    top: 15%;
    right: 5%;
    
}


/*------------------------
      CATALOGO
-------------------------*/

#catalogo{
   padding: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   position:relative ;
}

.filtro-catalogo{
    margin-top: 20px;
    position: absolute;
    justify-content: space-around;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    background-color:rgb(255, 251, 251);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.categorias-catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Poppins';
    
}


/*-----------------
    ANIMAÇÕES
----------------*/
@keyframes float{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0px);
    }
}



/*RESPONSIVIDADE*/

@media screen and (max-width: 1024px){
    .catalogo-texts{
    max-width: 550px;
    height: calc(100vh -70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
   
}

.catalogo-texts p{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    width: 480px;
    line-height: 1.8;
    color: #504b4b;
    margin-bottom: 35px;
}

.catalogo-texts h2{
    font-size: 120px;
    color: #f05d96;
}
.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px);
    opacity: 0.3;
}

.imagem img{
    position: absolute;
    width: 800px;
    filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.432));
    animation: float 4s ease-in-out infinite;

}

.btn-hero{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 50px;
    background: #f390b3;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
    font-size: 20px;
}

.btn-hero:hover{
    background: #f05d96;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(238, 141, 178, 0.849);
}
}


@media screen and (max-width: 480px){

    #hero-catalogo{
        padding: 30px;
        height:calc(100vh -70px);
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    .catalogo-texts{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
   
}

.catalogo-texts p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 250px;
    line-height: 1.8;
    color: #504b4b;
    margin-bottom: 35px;
}

.catalogo-texts h2{
    margin-top: -30px;
    font-size: 80px;
    color: #f05d96;
}


.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px);
    opacity: 0.3;
}

.imagem img{
    margin-left: 400px;
    margin-top: 500px;
    position: absolute;
    width: 500px;
    filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.432));
    animation: float 4s ease-in-out infinite;

}

.btn-hero{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 40px;
    background: #f390b3;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
}

.btn-hero:hover{
    background: #f05d96;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(238, 141, 178, 0.849);
}

.circle{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(243, 161, 183);
    filter: blur(70px);
    z-index: 0;
    left: 170px;
}
.small-circle.four{
    width: 120px;
    height: 120px;

    top: 15%;
    left: 10%;
}

.small-circle.five{
    width: 100px;
    height: 100px;

    bottom: 40%;
    left: 5%;
}

.small-circle.six{
    width: 500px;
    height: 500px;

    top: 15%;
    right: 5%;
    
}
}
