.container-slides{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-section{
    height: 650px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider-title{
      font-family: "Lobster Two", sans-serif;
      color: rgb(252, 92, 156);
}
.slider{

    margin: 0 auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
   
}

.slides{

    width: 500%;
    height: 400px;
    display: flex;
    position: relative;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 200px;
    margin-bottom: 20px;
}


.info-buque{
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-buque h3{
    font-size: 22px;
    color: rgb(0, 0, 0);
     margin-top: -10px;

}

.info-buque p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: -20px;
}



.manual-navigation{
    position: absolute;
    width: 800px;
    top: 500px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.manual-btn{
    width: 10px;
    height: 10px;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}





#radio1:checked ~ .manual-navigation label[for="radio1"]{
    background-color: black;
}

#radio2:checked ~ .manual-navigation label[for="radio2"]{
    background-color: black;
}

#radio3:checked ~ .manual-navigation label[for="radio3"]{
    background-color: black;
}

#radio4:checked ~ .manual-navigation label[for="radio4"]{
    background-color: black;
}

#radio5:checked ~ .manual-navigation label[for="radio5"]{
    background-color: black;
}





#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}






.catalogo-texto{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 85vh;
}


.mini-title{
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(244, 144, 192);
    font-weight: lighter;
}

.catalogo-texto h1{
    font-size: 64px;
    line-height: 1.1;
    margin: 20px 0;
    color: rgb(252, 92, 156);
    font-family: "Lobster Two", sans-serif;
}

.catalogo-texto p{
      font-family: "Playwrite GB S", cursive;
    font-size: 18px;
    line-height: 1.8;
    color: rgb(90, 90, 90);
    margin-bottom: 18px;
}

.btn-catalogo{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    padding: 14px 32px;
    border: none;
    border-radius: 40px;
    background-color: rgb(255, 160, 198);
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-catalogo:hover{
    transform: translateY(-3px);
    background-color: rgb(245, 130, 176);
    box-shadow: 0 10px 25px rgba(255, 160, 198, 0.3);
}



.bg-flor{
    position: absolute;
    width: 180px;
    opacity:1;
    z-index: -1;
    pointer-events: none;
}

/* posições */

.flor-a{
    width: 100px;
    height: 100px;
    top: 120px;
    left: 40px;
    transform: rotate(-15deg);
}

.flor-b{
    width: 100px;
    height: 100px;
    top: 120px;
    right: 60px;

    transform: rotate(20deg);
}

.flor-c{
    width: 100px;
    height: 100px;
    bottom: 50px;
    left: 100px;

    transform: rotate(10deg);
}

.flor-d{
    width: 100px;
    height: 100px;
    bottom: 80px;
    right: 120px;

    transform: rotate(-20deg);
}

.flor-e{
    width: 100px;
    height: 100px;
    bottom: 300px;
    right: 200px;

    transform: rotate(-20deg);
}

.flor-f{
    width: 100px;
    height: 100px;
    bottom: 300px;
    left: 200px;

    transform: rotate(-20deg);
}