/* ========================================
   SEÇÃO SLIDER
======================================== */

#slider-section{
background: repeating-linear-gradient(
    90deg,
    #fffaf8,
    #fffaf8 40px,
    #fdebf2 40px,
    #fdebf2 80px
);

    width: 100%;
    min-height: 100vh;
    padding: 80px 8%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.slider-title{
    color: #d98aa1;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 6px;
    margin-bottom: 20px;

    font-family: "Playwrite GB S", sans-serif;
}


/* ========================================
   SWIPER
======================================== */

.swiper{
    width: 100%;
    max-width: 1400px;
    height: 520px;
}

.swiper-slide{
    width: 100% !important;

    display: flex;
    justify-content: center !important;
    align-items: center !important;
}


/* ========================================
   LAYOUT DO SLIDE
======================================== */

.slide-content{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 120px;

    position: relative;
}

.flower-side{
    position: relative;

    width: 550px;
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ========================================
   CARD DE INFORMAÇÕES
======================================== */

.flower-card{
    width: 320px;
    height: 400px;

    padding: 35px;

    background: white;

    border-radius: 24px;
    border-style: dotted;
    border-width: 4px;
    border-color: pink;

    box-shadow:
    0 15px 40px rgba(0, 0, 0, 0.5);

    opacity: 0;

    transform:
    rotate(-3deg)
    translateY(40px);

    transition: 1s ease;
    transition-delay: 1.1s;
}

.flower-tag{
    display: inline-block;

    padding: 15px 24px;

    border-radius: 50px;
  

    background: #ffdce7;

    color: #f46fad;
    font-size: 15px;
}

.flower-card h2{
    margin-top: 15px;

    color: #574444;
    font-size: 40px;

    font-family: 'Pinyon Script';
}

.flower-card p{
    margin-top: 12px;

    line-height: 1.7;
    color: #777;
    font-family: 'Poppins';
}

.flower-price{
    margin-top: 25px;

    font-size: 28px;
    font-weight: bold;

    color: #bf6d94;
}


/* ========================================
   CÍRCULO DECORATIVO
======================================== */

.slide-circle{
    position: absolute;

    width: 500px;
    height: 500px;

    border-radius: 50%;

    left: 50%;
    top: 50%;

    transform:
    translate(-50%, -50%)
    scale(.5);

    filter: blur(50px);

    transition:
    transform .8s ease,
    opacity .8s ease;

    background-color: #fefefe;

    z-index: 1;
}


/* ========================================
   BUQUÊ
======================================== */

.slide-image{
    width: 500px;

    position: relative;
    z-index: 2;

    object-fit: contain;

    opacity: 0;

    transform:
    translateY(40px)
    scale(.8);

    transition:
    transform 1s ease,
    opacity 1s ease;

    transition-delay: .4s;

    filter:
    drop-shadow(0 20px 30px rgba(0,0,0,.5));

    animation:
    float 6s ease-in-out infinite;
}


/* ========================================
   FOLHAS
======================================== */

.folha{
    position: absolute;

    opacity: 0;

    z-index: 3;

    transition:
    opacity 1s ease,
    transform 1s ease;

    transition-delay: .8s;
}

.folha-1{
    width: 35px;

    top: 75%;
    left: 70%;

    animation:
    floatLeaf2 6s ease-in-out infinite;
}

.folha-2{
    width: 55px;

    top: 5%;
    left: 25%;

    animation:
    floatLeaf2 6s ease-in-out infinite;
}

.folha-3{
    width: 60px;

    top: 42%;
    right: 95%;

    animation:
    floatLeaf 7s ease-in-out infinite;
}

.folha-4{
    width: 250px;

    top: 15%;
    right: 65%;

    animation:
    floatLeaf4 7s ease-in-out infinite;
    z-index: 1;
}

.folha-5{
    width: 250px;

    top: 5%;
    right: -5%;

    animation:
    floatLeaf5 7s ease-in-out infinite;
    z-index: 1;
}

.florzinha-1{
    width: 80px;

    top: 42%;
    right:90%;

    animation:
    floatLeaf 7s ease-in-out infinite;   
}

.florzinha-2{
    width: 90px;

    top: 65%;
    right: 5%;
    
    animation:
    floatLeaf3 7s ease-in-out infinite;   
}

/* ========================================
   PÉTALAS
======================================== */

.petal{
    position: absolute;

    opacity: 0;

    z-index: 3;

    transition:
    opacity 1s ease,
    transform 1s ease;

    transition-delay: .8s;
}

.petal-1{
    width: 70px;

    top: 10%;
    left: 5%;

    animation:
    floatPetal 5s ease-in-out infinite;
}

.petal-2{
    width: 55px;

    top: 65%;
    left: 10%;

    animation:
    floatPetal 7s ease-in-out infinite;
}

.petal-3{
    width: 60px;

    top: 15%;
    right: 5%;

    animation:
    floatPetal 6s ease-in-out infinite;
}

.petal-4{
    width: 45px;

    top: 55%;
    right: 5%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-5{
    display: none;
    width: 45px;

    top: 85%;
    right: 25%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-6{
    width: 65px;

    top: 25%;
    right: 85%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-7{
    width: 45px;

    top: 25%;
    right: 10%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-8{
    width: 45px;
    top: 10%;
    right: 70%;

    animation:
    floatPetal1 8s ease-in-out infinite;
}

.petal-9{
    width: 45px;
    top: 65%;
    right: 85%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-10{
    width: 45px;
    top: 75%;
    right: 15%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-11{
    width: 45px;
    top: 50%;
    right: 90%;

    animation:
    floatPetal11 8s ease-in-out infinite;
}

.petal-12{
    width: 45px;
    top: 15%;
    right: 20%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-13{
    width: 60px;
    top: 15%;
    right: 75%;

    animation:
    floatPetal13 8s ease-in-out infinite;
}

.petal-14{
    width: 45px;
    top: 40%;
    right: 0%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-15{
    width: 155px;
    top: 10%;
    right: 70%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-16{
    width: 75px;
    top: 10%;
    right: 15%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-17{
    width: 75px;
    top: 25%;
    left: 2%;

    animation:
    floatPetal 8s ease-in-out infinite;
}

.petal-18{
    width: 75px;
    top: 75%;
    right: 65%;

    animation:
    floatPetal18 8s ease-in-out infinite;
}

.petal-19{
    width: 85px;
    top: 65%;
    right: 15%;

    animation:
    floatPetal19 8s ease-in-out infinite;
}

.petal-20{
    width: 75px;
    top:  60%;
    right: 75%;

    animation:
    floatPetal20 8s ease-in-out infinite;
}



/* ========================================
   SLIDE ATIVO
======================================== */

.swiper-slide-active .slide-circle{
    opacity: 1;

    transform:
    translate(-50%, -50%)
    scale(1);
}

.swiper-slide-active .slide-image{
    opacity: 1;

    transform:
    translateY(0)
    scale(1);
}

.swiper-slide-active .petal,
.swiper-slide-active .folha{
    opacity: .9;
}

.swiper-slide-active .flower-card{
    opacity: 1;

    transform:
    rotate(-3deg)
    translateY(0);
}


/* ========================================
   BOTÕES
======================================== */

.swiper-button-next,
.swiper-button-prev{
    width: 42px !important;
    height: 42px !important;

    border-radius: 50%;

    background: white;
    color: black !important;

    transform: scale(.7);

    transition: .3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    transform: scale(.8);

    background: #f8f8f8;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 18px !important;
    font-weight: bold;
}

.swiper-button-prev{
    left: 80px !important;
}

.swiper-button-next{
    right: 80px !important;
}




/* ========================================
   OCASIÕES ESPECIAIS
======================================== */



.occasion-container{
    
    position: relative;
    z-index: 2;
}

.next-section{
    background: #fdebf2;
}

#occasions{
    position: relative;
    overflow: hidden;
    padding: 80px 8%;
    background: #ffffff;
}

.section-header{
    text-align: center;
   
}

.special-title{
    opacity: 0;
    transform: translateY(40px);

    animation: fadeUp 1.5s ease forwards;
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.section-header h2{
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 8px 18px;
    font-size: 48px;

    color: #2b272a;
    font-family: 'Lobster Two';
    font-weight: 100;
}



/* GRID */

.occasion-grid{
    display: grid;


    grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

    gap: 30px;
}

/* CARD */

.occasion-card{
    position: relative;

    height: 420px;

    overflow: hidden;

    border-radius: 30px;

    cursor: pointer;

    box-shadow:
    0 15px 35px rgba(0,0,0,.5);
    transition:
    transform .4s ease,
    box-shadow .4s ease;
}

.occasion-card:hover{
    transform:
    translateY(-12px)
    scale(1.03);

    box-shadow:
    0 25px 50px rgba(0, 0, 0, 8);
}

.occasion-card img{
    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: 0.8s ease;
}

/* OVERLAY */

.occasion-overlay{
    position: absolute;

    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 30px;

    background:
    linear-gradient(
        transparent,
        rgba(0,0,0,.75)
    );

    color: white;
}

.occasion-overlay h3{
    font-size: 30px;
}

.occasion-overlay p{
    margin-top: 10px;

    line-height: 1.6;

    opacity: .9;
}



/* ========================================
   CTA FINAL
======================================== */

.cta-section{

    padding: 140px 8%;

    text-align: center;

    background:
    linear-gradient(
        180deg,
        #fffaf8 0%,
        #fdebf2 100%
    );
}

.cta-content{

    max-width: 800px;

    margin: 0 auto;
}

.cta-tag{

    display: inline-block;

    padding: 8px 18px;

    border-radius: 30px;

    background: white;

    color: #d98aa1;

    font-size: 14px;

    margin-bottom: 25px;
}

.cta-content h2{

    font-size: 48px;

    color: #5f4b52;

    line-height: 1.2;

    margin-bottom: 25px;
}

.cta-content p{

    font-size: 18px;

    color: #777;

    line-height: 1.8;

    margin-bottom: 40px;
}

.cta-button{

    display: inline-block;

    padding: 18px 40px;

    border-radius: 40px;

    text-decoration: none;

    background: #d98aa1;

    color: white;

    font-weight: 600;

    transition: .3s ease;
}

.cta-button:hover{

    transform: translateY(-4px);

    background: #cb7891;
}




/* ========================================
   FOOTER
======================================== */

.footer{

    background: #360a0a;

    color: white;

    padding-top: 20px;
}

.footer-content{

    max-width: 1200px;

    margin: 0 auto;

    padding: 0 8% 60px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;

    flex-wrap: wrap;
}


.footer-brand{

    flex: 1;
    min-width: 250px;
}

.footer-brand img{

    width: 120px;

    margin-bottom: 20px;
}

.footer-brand p{

    color: rgba(255,255,255,.8);
    display: flex;
    justify-content: center;
}


.footer-contact{

    display: flex;
    flex-direction: column;

    gap: 12px;
}



.footer-contact {
    justify-content: space-around;
    display: flex;
    flex-direction: row;

    color: rgba(255,255,255,.8);
}

.footer-bottom{

    text-align: center;

    padding: 25px;

    border-top:
    1px solid rgba(255,255,255,.15);

    color: rgba(255,255,255,.7);
}



/* ========================================
   ANIMAÇÕES
======================================== */

@keyframes float{

    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-12px);
    }

    100%{
        transform: translateY(0px);
    }

}

@keyframes floatLeaf{

    0%{
        transform:
        translateY(0px)
        rotate(0deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(5deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(0deg);
    }

}

@keyframes floatPetal{

    0%{
        transform:
        translateY(0px)
        rotate(0deg);
    }

    50%{
        transform:
        translateY(-12px)
        rotate(8deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(0deg);
    }

}



@keyframes floatLeaf1{

        0%{
        transform:
        translateY(0px)
        rotate(-45deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(-40deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(-45deg);
    }

}

@keyframes floatLeaf2{

    0%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(105deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

}


@keyframes floatLeaf3{

    0%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(105deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

}

@keyframes floatLeaf4{

    0%{
        transform:
        translateY(0px)
        rotate(60deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(65deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(60deg);
    }

}

@keyframes floatLeaf5{

    0%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(105deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

}

@keyframes floatPetal1{

    0%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(105deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(100deg);
    }

}

@keyframes floatPetal11{

    0%{
        transform:
        translateY(0px)
        rotate(250deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(255deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(250deg);
    }

}

@keyframes floatPetal13{

    0%{
        transform:
        translateY(0px)
        rotate(250deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(255deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(250deg);
    }

}

@keyframes floatPetal18{

    0%{
        transform:
        translateY(0px)
        rotate(150deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(155deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(150deg);
    }

}

@keyframes floatPetal19{

    0%{
        transform:
        translateY(0px)
        rotate(50deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(55deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(50deg);
    }

}

@keyframes floatPetal20{

    0%{
        transform:
        translateY(0px)
        rotate(150deg);
    }

    50%{
        transform:
        translateY(-8px)
        rotate(155deg);
    }

    100%{
        transform:
        translateY(0px)
        rotate(150deg);
    }

}



/* ========================================
   RESPONSIVO
======================================== */

/* ========================================
   TABLETS
======================================== */

@media screen and (max-width: 1024px){

    .slide-content{
        gap: 50px;
    }

    .flower-side{
        width: 450px;
        height: 450px;
    }

    .slide-image{
        width: 380px;
    }

    .slide-circle{
        width: 320px;
        height: 320px;
    }

    .flower-card{
        width: 280px;
        padding: 28px;
    }

    .flower-card h2{
        font-size: 26px;
    }

}


/* ========================================
   MOBILE
======================================== */

@media screen and (max-width: 768px){

    #slider-section{
        padding: 60px 20px;
    }

    .swiper{
        height: auto;
        min-height: 850px;
    }

    .slide-content{
        flex-direction: column;
        gap: 20px;
    }

    .flower-side{
        width: 100%;
        max-width: 350px;
        height: 350px;
    }

    .slide-circle{
        width: 240px;
        height: 240px;
    }

    .slide-image{
        width: 280px;
    }

    .flower-card{
        width: 100%;
        max-width: 320px;

        transform:
        rotate(-2deg)
        translateY(20px);
    }

    .flower-card h2{
        font-size: 24px;
    }

    .flower-card p{
        font-size: 14px;
    }

    .flower-price{
        font-size: 24px;
    }

    .swiper-button-prev{
        left: 5px !important;
    }

    .swiper-button-next{
        right: 5px !important;
    }

}



@media screen and (max-width: 480px){

    .flower-side{
        height: 300px;
    }

    .slide-image{
        width: 240px;
    }

    .slide-circle{
        width: 200px;
        height: 200px;
    }

    .flower-card{
        padding: 50px;
    }

    .flower-card h2{
        font-size: 20px;
    }

    .flower-tag{
        font-size: 15px;
    }

    .flower-price{
        font-size: 20px;
    }

}


@media screen and (max-width: 768px){

    .petal,
    .folha{
        display: none;
    }

}